<p><%= @students.first_name %></p>
<p><%= @students.last_name %></p>
<p><%= @students.age %></p>
<p><%= @students.education %></p>

<%= link_to "Back", new_student_path %>
<%= link_to "Edit", edit_student_path(@student) 
