<h1>Courses Offered</h1>

<%= form_for(@course) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <%= f.label :hours %>
    <%= f.number_field(:hours, in: 0.0..400.0) %>
    <br>
    <%= f.submit %>
<% end %> 